.header{
    display: flex;
    justify-content: space-around;
    align-items: left;
    min-height: 60px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
   li.header-l{
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    list-style: none;
    display: inline;
    margin:50px;
    text-align: right;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
   }
   li.header-l:hover{
   background-color: rgb(16, 16, 83);
   border-radius: 10px;
   }

  
    ul.no-bullets {
      list-style-type: none; /* Remove bullets */
      padding: 0; /* Remove padding */
      margin: 0; /* Remove margins */
    }

    
